{% extends "base.html" %}

{% block content %}
  {% include "dashboard/partials/header.html" %}
  {% include "dashboard/partials/start_here.html" %}
  {% include "dashboard/partials/market_brief.html" %}
  {% include "dashboard/partials/key_market_strip.html" %}
  {% include "dashboard/partials/what_changed.html" %}
  {% include "dashboard/partials/market_map.html" %}
  {% include "dashboard/partials/data_confidence.html" %}
  {% include "dashboard/partials/technical_appendix.html" %}
{% endblock %}
